<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ChargingWayMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.ChargingWay" >
    <id column="charging_way_id" property="chargingWayId" jdbcType="CHAR" />
    <result column="charging_way_name" property="chargingWayName" jdbcType="VARCHAR" />
    <result column="charging_way_starttime" property="chargingWayStarttime" jdbcType="VARCHAR" />
    <result column="charging_way_endtime" property="chargingWayEndtime" jdbcType="VARCHAR" />
    <result column="charging_way_price" property="chargingWayPrice" jdbcType="VARCHAR" />
    <result column="charging_way_createtime" property="chargingWayCreatetime" jdbcType="VARCHAR" />
    <result column="charging_way_modifytime" property="chargingWayModifytime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    charging_way_id, charging_way_name, charging_way_starttime, charging_way_endtime, 
    charging_way_price, charging_way_createtime, charging_way_modifytime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.ChargingWayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from charging_way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from charging_way
    where charging_way_id = #{chargingWayId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from charging_way
    where charging_way_id = #{chargingWayId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.ChargingWayExample" >
    delete from charging_way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.ChargingWay" >
    insert into charging_way (charging_way_id, charging_way_name, charging_way_starttime, 
      charging_way_endtime, charging_way_price, charging_way_createtime, 
      charging_way_modifytime)
    values (#{chargingWayId,jdbcType=CHAR}, #{chargingWayName,jdbcType=VARCHAR}, #{chargingWayStarttime,jdbcType=VARCHAR}, 
      #{chargingWayEndtime,jdbcType=VARCHAR}, #{chargingWayPrice,jdbcType=VARCHAR}, #{chargingWayCreatetime,jdbcType=VARCHAR}, 
      #{chargingWayModifytime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.ChargingWay" >
    insert into charging_way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chargingWayId != null" >
        charging_way_id,
      </if>
      <if test="chargingWayName != null" >
        charging_way_name,
      </if>
      <if test="chargingWayStarttime != null" >
        charging_way_starttime,
      </if>
      <if test="chargingWayEndtime != null" >
        charging_way_endtime,
      </if>
      <if test="chargingWayPrice != null" >
        charging_way_price,
      </if>
      <if test="chargingWayCreatetime != null" >
        charging_way_createtime,
      </if>
      <if test="chargingWayModifytime != null" >
        charging_way_modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chargingWayId != null" >
        #{chargingWayId,jdbcType=CHAR},
      </if>
      <if test="chargingWayName != null" >
        #{chargingWayName,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayStarttime != null" >
        #{chargingWayStarttime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayEndtime != null" >
        #{chargingWayEndtime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayPrice != null" >
        #{chargingWayPrice,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayCreatetime != null" >
        #{chargingWayCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayModifytime != null" >
        #{chargingWayModifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.ChargingWayExample" resultType="java.lang.Integer" >
    select count(*) from charging_way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update charging_way
    <set >
      <if test="record.chargingWayId != null" >
        charging_way_id = #{record.chargingWayId,jdbcType=CHAR},
      </if>
      <if test="record.chargingWayName != null" >
        charging_way_name = #{record.chargingWayName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingWayStarttime != null" >
        charging_way_starttime = #{record.chargingWayStarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingWayEndtime != null" >
        charging_way_endtime = #{record.chargingWayEndtime,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingWayPrice != null" >
        charging_way_price = #{record.chargingWayPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingWayCreatetime != null" >
        charging_way_createtime = #{record.chargingWayCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingWayModifytime != null" >
        charging_way_modifytime = #{record.chargingWayModifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update charging_way
    set charging_way_id = #{record.chargingWayId,jdbcType=CHAR},
      charging_way_name = #{record.chargingWayName,jdbcType=VARCHAR},
      charging_way_starttime = #{record.chargingWayStarttime,jdbcType=VARCHAR},
      charging_way_endtime = #{record.chargingWayEndtime,jdbcType=VARCHAR},
      charging_way_price = #{record.chargingWayPrice,jdbcType=VARCHAR},
      charging_way_createtime = #{record.chargingWayCreatetime,jdbcType=VARCHAR},
      charging_way_modifytime = #{record.chargingWayModifytime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.ChargingWay" >
    update charging_way
    <set >
      <if test="chargingWayName != null" >
        charging_way_name = #{chargingWayName,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayStarttime != null" >
        charging_way_starttime = #{chargingWayStarttime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayEndtime != null" >
        charging_way_endtime = #{chargingWayEndtime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayPrice != null" >
        charging_way_price = #{chargingWayPrice,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayCreatetime != null" >
        charging_way_createtime = #{chargingWayCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="chargingWayModifytime != null" >
        charging_way_modifytime = #{chargingWayModifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where charging_way_id = #{chargingWayId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.ChargingWay" >
    update charging_way
    set charging_way_name = #{chargingWayName,jdbcType=VARCHAR},
      charging_way_starttime = #{chargingWayStarttime,jdbcType=VARCHAR},
      charging_way_endtime = #{chargingWayEndtime,jdbcType=VARCHAR},
      charging_way_price = #{chargingWayPrice,jdbcType=VARCHAR},
      charging_way_createtime = #{chargingWayCreatetime,jdbcType=VARCHAR},
      charging_way_modifytime = #{chargingWayModifytime,jdbcType=VARCHAR}
    where charging_way_id = #{chargingWayId,jdbcType=CHAR}
  </update>
</mapper>